#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.jpg)  no-repeat;
    background-size: 100%;
}
#hour ,#minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 24%;
    top:26% ;
    left:49.5% ;
    opacity: 0.8;
}
#minute{
    width: 1.5%;
    height: 30%;
    top:20% ;
    left:49.5% ;
    opacity: 0.8;

}
#second{
    width: 1%;
    height: 35%;
    top:15% ;
    left:49.5% ;
    opacity: 0.8;

}